* {
	box-sizing: border-box;
}

body {
	overflow: auto;
	width: 960px;
	background-color: cadetblue;
	text-align: center;
	margin: auto;
	margin-top: 5px;
}

.button {
	font-size: 12px;
	font-family: monospace;
	width: 210px;
}

.icon {
	font-size: 16px;
	min-width: 45px;
	max-width: 45px;
}

.title {
	display: block;
	background-color: green;
	position: relative;
	margin-bottom: 3px;
	border: 2px solid black;
}

.inlineBlock {
	display: inline-block;
	vertical-align: top;
}

#controls_cont {
	border: 1px solid darkblue;
	display: inline-block;
	padding: 5px;
	margin: 0px;
	background-color: lightsteelblue;
	width: 550px;
	height: 430px;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	font-size: 16px;
}

#controls_top {
	width: 230px;
	height: 325px;
	background-color: rgb(255 255 255 / 25%);
	padding: 5px;
}

#controls_bottom {
	vertical-align: top;
	width: 535px;
	background-color: rgb(255 255 255 / 25%);
	padding: 4px;
	margin-top: 5px;
}

#vram_cont {
	border: 1px solid darkblue;
	display: inline-block;
	padding: 5px;
	padding-bottom: 0px;
	margin: 0px;
	background-color: lightsteelblue;
	width: 400px;
	height: 430px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}

#vram_div_all {
	vertical-align: top;
	width: 467px;
	padding: 0px;
	margin: 0px;
	width: 100%;
}

#vram_div_layers {
	display: inline-block;
	vertical-align: top;
	padding: 0px;
	margin: 0px;
	background-color: red;
	position: relative;
	top: 2px;
	background-color: lightsteelblue;
	padding: 5px;
	padding-bottom: 0px;
	margin: 0px;
	margin-top: 5px;
	border: 1px solid darkblue;
	text-align: center;
}

.vramCanvas {
	margin: 0px;
	background-color: darkgray;
	width: 100%;
	width: 310px;
	border: 2px solid black;
}

.center {
	text-align: center;
}

#vram_l1 {}

#vram_l2 {}

#vram_l3 {}

#vram_all {
	width: 100%;
	background-color: darkgray;
	border: 2px solid black;
}

span#ws_status {
	position: absolute;
	right: 5px;
}

div#controls_right {
	width: 300px;
	height: 325px;
	background-color: #c4d3e7;
}

#vram_div_layers.hide {
	display: none;
}

#controls_bottom table{
	width:530px;
}
#controls_bottom table th{
	background-color: green;
}
#controls_bottom table th,
#controls_bottom table td{
	width: 16%;
	border: 1px solid black;
}