* {
	box-sizing: border-box;
}
body {
	overflow: auto;
	width: 100%;
	background-color: cadetblue;
	text-align: center;
	white-space: nowrap;
	margin: auto;
}
.button {
	font-size: 16px;
	font-family: monospace;
	min-width: 60px;
	height: 25px;
	vertical-align: top;
	/* color: #efefef; */
}
.button2 {
	font-family: monospace;
	min-width: 60px;
}
.icon {
	font-size: 16px;
	min-width: 45px;
	max-width: 45px;
	height: 25px;
	vertical-align: top;
}
.title {
	display: block;
	background-color: rgb(98 176 255 / 50%);
	position: relative;
	margin-bottom: 3px;
	border: 2px solid black;
	padding: 3px;
	max-width: 120px;
	text-align: left;
}
.title2 {
	display: block;
	background-color: rgb(98 176 255 / 50%);
	position: relative;
	margin-bottom: 3px;
	border: 2px solid black;
	padding: 3px;
	min-width: 130px;
}
.title.taller {
	padding: 8px;
	max-width: unset;
}
#controls_nav {
	border: 2px solid black;
	padding: 5px;
	margin-bottom: 5px;
	background-color: #a5c2dd;
	position: relative;
}
#controls_cont_views {
	height: 420px;
	width: 100%;
	padding: 5px;
	border: 1px solid black;
}
#controls_cont_views .view {
	display: none;
	overflow: auto;
}
#controls_cont_views .view.active {
	display: block;
	height: 100%;
}
.title.navButton {
	display: inline-block;
	min-width: 70px;
	padding: 2px;
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
	background-color: #4993af;
	cursor: pointer;
}
.title.navButton:hover {
	background-color: #79d9ff;
	text-decoration: underline;
}
.title.navButton:active {
	background-color: #11aeeb;
}
.title.navButton.active {
	background-color: #11aeeb;
}
.inlineBlock {
	display: inline-block;
	vertical-align: top;
}
.inline {
	display: inline;
	vertical-align: top;
}
.table-cell {
	display: table-cell;
	vertical-align: top;
}
#controls_cont {
	border: 1px solid darkblue;
	display: inline-block;
	padding: 5px;
	margin: 0px;
	background-color: lightsteelblue;
	width: 765px;
	height: 480px;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	font-size: 12px;
}
#info_subscriptionsDiv {
	vertical-align: top;
}
#vram_cont {
	border: 1px solid darkblue;
	padding: 5px;
	padding-bottom: 0px;
	margin: 0px;
	background-color: lightsteelblue;
	width: 390px;
	height: 480px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}
#vram_div_all {
	vertical-align: top;
	width: 467px;
	padding: 0px;
	margin: 0px;
	width: 100%;
}
#vram_div_layers {
	/* margin: 0px; */
	padding: 0px;
	margin: 0px;
	text-align: left;
	overflow: auto;
	white-space: nowrap;
}
#vram_div_layers .vram_div_layer {
	display: inline-block;
	vertical-align: top;
	padding: 1px;
	margin: 1px;
}
#vram_div_layers .vram_div_layer .title {
}
#vram_div_layers .vram_div_layer canvas {
}
#vram_div_layers .vram_div_layer .updateStats {
	margin-bottom: 5px;
}
.vramCanvas {
	margin: 0px;
	background-color: #2b2b2b;
	/* border: 2px solid #51bfcb; */
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAADNJREFUOE9jTEtL+8+ABxgbG+ORZWBgwitLhOSoAYMhEFkIxfPZs2fxRuZoNA6GaKQ4FgBJLQXs1RURXgAAAABJRU5ErkJggg==');
	background-size: 16px;
	background-repeat: repeat;
	width: 240px;
}
.center {
	text-align: center;
}
#vram_l1 {
}
#vram_l2 {
}
#vram_l3 {
}
#vram_all {
	width: 100%;
	background-color: darkgray;
	border: 2px solid black;
}
span#ws_status {
	position: absolute;
	right: 5px;
	font-size: 18px;
	top: 3px;
}
#vram_div_layers.hide {
	opacity: 25%;
	cursor: not-allowed;
}
table td, table tr, table th {
	vertical-align: top;
}
#info_SUBSCRIPTIONS {
	font-family: monospace;
	font-size: 10px;
}
.ws {
}
.ws.disconnected {
	background-color: #d00010;
	cursor: not-allowed;
	opacity: 0.75;
}
.ws.disconnected button, .ws.disconnected select, .ws.disconnected .subscriptionContainer {
	pointer-events: none;
	opacity: 0.75 
}
.ws.connected {
}
span#info_fps {
	white-space: pre;
	font-size: 13px;
}
button#ws_disconnect {
	position: absolute;
	right: 40px;
	font-size: 12px;
	top: 2px;
}
button#ws_connect {
	position: absolute;
	right: 110px;
	font-size: 12px;
	top: 2px;
}
.inputButtons {
	margin-bottom: 5px;
}
.subscriptionContainer {
	background-color: rgb(237 243 248);
	border: 1px solid black;
	margin-bottom: 2px;
	display: inline-block;
	font-size: 12px;
	padding: 2px;
	margin-right: 2px;
	margin-bottom: 2px;
}
.subscriptionContainer:hover {
	background-color: #83b8ee;
}
span#ws_autoReconnectDiv {
	position: absolute;
	right: 10px;
	top: 5px;
}
span#ws_autoReconnectDiv:hover {
	background-color: #bcd2e6;
}
.updateStats table {
	font-family: monospace;
	white-space: pre;
	width: 100%;
	min-height: 40px;
	border: 2px solid black;
}
.updateStats table th {
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
	width: 28px;
	background-color: rgb(255 255 255 / 80%);
}
.updateStats table td {
	text-align: center;
	background-color: rgb(255 255 255 / 50%);
}
.updateStats table td[name='updates_real'] {
	text-align: center;
	background-color: rgb(255 255 0 / 0.5);
}
#info_screensDiv1, #info_screensDiv2 {
	vertical-align: top;
	width: 100%;
	min-height: 24px;
}
#info_screensDiv1 button, #info_screensDiv2 button {
	font-size: 14px;
	font-family: monospace;
	min-width: 60px;
	height: 22px;
	vertical-align: top;
	margin: 1px;
}
.postrow {
	background-color: #a5c2dd;
	padding: 5px;
}
.width100 {
	width: 100% 
}
#controls_cont_view_stats_output {
	white-space: pre;
	/* height: 390px; */
	height: 100%;
	width: 100%;
	font-family: monospace;
	/* overflow: auto; */
	font-size: 14px;
}
.updateStats {
}

#fullscreen{
    position: absolute;
    right: 5px;
    top: 5px;
    width: 25px;
    height: 25px;
    background-color: #efefef;
    border: 1px solid #767676;
    text-align: center;
    line-height: 25px;
    font-size: 20px;
}
#fullscreen:hover{background-color: #d9d5d5;}