* {
	box-sizing: border-box;
}

body {
	overflow: auto;
	width: 960px;
	background-color: cadetblue;
	text-align: center;
	margin-top: 5px;
}

.button {
	font-size: 16px;
	font-family: monospace;
	min-width: 60px;
	height: 25px;
}

.button2 {
	font-family: monospace;
	min-width: 60px;
}

.icon {
	font-size: 16px;
	min-width: 45px;
	max-width: 45px;
	height: 25px;
}

.title {
	display: block;
	background-color: rgb(98 176 255 / 50%);
	position: relative;
	margin-bottom: 3px;
	border: 2px solid black;
}

.title.taller {
	padding: 6px;
}

.inlineBlock {
	display: inline-block;
	vertical-align: top;
}

.inline {
	display: inline;
	vertical-align: top;
}

.table-cell {
	display: table-cell;
	vertical-align: top;
}

#controls_cont {
	border: 1px solid darkblue;
	display: inline-block;
	padding: 5px;
	margin: 0px;
	background-color: lightsteelblue;
	width: 535px;
	height: 430px;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	font-size: 16px;
}

#controls_top {
	width: 523px;
	background-color: rgb(255 255 255 / 25%);
	padding: 5px;
}

#info_subscriptionsDiv {
	vertical-align: top;
}

#controls_bottom2 {
	vertical-align: top;
	background-color: rgb(255 255 255 / 25%);
	padding: 4px;
}

#controls_bottom2 table {
}

#controls_bottom2 table th {
}

#controls_bottom2 table th,
#controls_bottom2 table td {
	width: 16%;
	border: 1px solid black;
}

#vram_cont {
	border: 1px solid darkblue;
	display: inline-block;
	padding: 5px;
	padding-bottom: 0px;
	margin: 0px;
	background-color: lightsteelblue;
	width: 400px;
	height: 430px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}

#vram_div_all {
	vertical-align: top;
	width: 467px;
	padding: 0px;
	margin: 0px;
	width: 100%;
}

#vram_div_layers {
	display: inline-block;
	vertical-align: top;
	padding: 0px;
	margin: 0px;
	background-color: red;
	position: relative;
	top: 2px;
	background-color: lightsteelblue;
	padding: 5px;
	padding-bottom: 0px;
	margin: 0px;
	margin-top: 5px;
	border: 1px solid darkblue;
	text-align: center;
}

.vramCanvas {
	margin: 0px;
	background-color: darkgray;
	width: 100%;
	width: 310px;
	border: 2px solid black;
}

.center {
	text-align: center;
}

#vram_l1 {}

#vram_l2 {}

#vram_l3 {}

#vram_all {
	width: 100%;
	background-color: darkgray;
	border: 2px solid black;
}

span#ws_status {
	position: absolute;
	right: 5px;
	font-size: 18px;
	top: 3px;
}

#vram_div_layers.hide {
	display: none;
}

table td,
table tr,
table th {
	vertical-align: top;
}

#info_SUBSCRIPTIONS {
	font-family: monospace;
	font-size: 10px;
}

#info_VRAM_UPDATESTATS {
}


.ws {
	width: 100%;
}

.ws.disconnected {
	background-color: crimson;
	cursor: not-allowed;
}

.ws.disconnected button,
.ws.disconnected select,
.ws.disconnected .subscriptionContainer {
	pointer-events: none;
	opacity: 0.75
}

.ws.connected {
	background-color: #a5c2dd;
	/* width: 100%; */
}

span#info_fps {
	white-space: pre;
	font-size: 13px;
}

button#ws_disconnect {
	position: absolute;
	right: 40px;
	font-size: 12px;
	top: 2px;
}

button#ws_connect {
	position: absolute;
	right: 110px;
	font-size: 12px;
	top: 2px;
}

.inputButtons {
	margin-bottom: 5px;
}

.subscriptionContainer {
	background-color: rgb(237 243 248);
	border: 1px solid black;
	margin-bottom: 2px;
	display: block;
	font-size: 12px;
}

.subscriptionContainer:hover {
	background-color: #83b8ee;
}

span#ws_autoReconnectDiv {
	position: absolute;
	right: 180px;
	display: none;
}

span#ws_autoReconnectDiv:hover {
	background-color: #bcd2e6;
}

#info_VRAM_UPDATESTATS table {
	/* width:100%; */
	font-family: monospace;
	white-space: pre;
	font-size: 16px;
	width: 120px;
	min-height: 95px;
}

#info_VRAM_UPDATESTATS table th {
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
	width: 28px;
	background-color: rgb(255 255 255 / 80%);
}

#info_VRAM_UPDATESTATS table td {
	text-align: center;
	background-color: rgb(255 255 255 / 50%);
}