* {
	box-sizing: border-box;
}

/* BODY */
body {
	background-color: darkblue;
}

/* SHARED */
.inline-block {
	display: inline-block;
	vertical-align: top;
}

.bg1{
	background-color:gray;
}
.center{
	text-align:center;
}

/* BUTTONS */
.button1 {
	min-width: 32px;
}
.button2 {
	/* min-width: 32px; */
	/* width: 200px; */
	width: 100%;
}
.button3 {
	width: 300px;
	/* width: 100%; */
	text-align: left;
	font-family:
	monospace;
}
.button1:hover,
.button2:hover,
.button3:hover {
	background-color:goldenrod;
}
.button1:active,
.button2:active,
.button3:active {
	background-color:yellow;
}

#container1{
	/* width: 600px; */
	border: 5px solid navajowhite;
}

#liveControls{
	/* width: 100px; */
	/* height: 100%; */
}

#debugControls {
	border: 5px solid navajowhite;
}

#debugOutput {
	border: 5px solid navajowhite;
}
#canvasDisplay {
    /* width: 500px; */
}

#container1,
#liveControls,
#canvasDisplay,
#debugOutput
#debugControls{
	display: inline-block;
	vertical-align: top;
	padding: 2px;
	background-color: black;
	border-radius: 5px;
	/* color:antiquewhite; */
}
.disconnected{
	border-color:red !important;
}

/* CANVAS */
#CANVAS1 {
	border: 1px solid antiquewhite;
	background-color: black;
}


.tableType1 {}

.tableType1 {
	margin-bottom: 5px;
	border: 2px solid black;
	border-top: 0px;
	border-radius: 0px 0px 5px 5px;
	border-collapse: collapse;
	background-color: darkkhaki;
	width:100%;
}

.tableType1 caption {
	background-color: #c1c1c1;
	font-weight: bold;
	text-decoration: underline;
	border: 2px solid black;
	border-bottom: 1px solid black;
	/* border-top: 1px solid black; */
	border-radius: 5px 5px 0px 0px;
	padding: 4px
}

.tableType1 th,
.tableType1 td {
	/* border: 1px solid black; */
	padding: 4px;
}

.tableType1 th {}




#debugOutput{
	width: 300px;
	min-height: 275px;
}
#debugOutput_output{
	width : 100%;
	height: 220px;
	font-family:monospace;
	white-space:pre;
}
/* 
#div_container1,
#div_container2 {
	border: 5px solid navajowhite;
	display: inline-block;
	vertical-align: top;
	padding: 5px;
	background-color: black;
	border-radius: 10px;
}
#div_container1.disconnected,
#div_container2.disconnected{
	border-color:red;
}

 */
