{
	"toggles": {
	  "show_APP_consolelog": true,
	  "isActive_nodeWsServer": true,
	  "isActive_pythonWsServer": false,
	  "isActive_battery": false,
	  "isActive_gpio": false,
	  "isActive_buttonsOverlay": true,
	  "isActive_lcd": true,
	},
	"node": {
	  "http": {
		"host": "0.0.0.0",
		"port": 7777
	  },
	  "fps": 10,
	  "indexesPerCol": 4
	},
	"python": {
	  "file": "backend/python/server.py",
	  "initString": "##!!PYTHON_SERVER_READY!!##",
	  "ws": {
		"host": "127.0.0.1",
		"port": 7778
	  }
	},
	"lcd": {
	  "fb": "/dev/fb0",
	  "width": 240,
	  "height": 240,
	  "tileset": {
		"file": "tileset_8x8.png",
		"rows": 30,
		"cols": 30,
		"tileWidth": 8,
		"tileHeight": 8,
		"tilesInCol": 3
	  }
	},
	"gpio": {
	  "inputs": {
		"KEY_UP_PIN": {
		  "pin": 6,
		  "dir": "in",
		  "edge": "rising",
		  "options": {
			"activeLow": true
		  }
		},
		"KEY_DOWN_PIN": {
		  "pin": 19,
		  "dir": "in",
		  "edge": "rising",
		  "options": {
			"activeLow": true
		  }
		},
		"KEY_LEFT_PIN": {
		  "pin": 5,
		  "dir": "in",
		  "edge": "rising",
		  "options": {
			"activeLow": true
		  }
		},
		"KEY_RIGHT_PIN": {
		  "pin": 26,
		  "dir": "in",
		  "edge": "rising",
		  "options": {
			"activeLow": true
		  }
		},
		"KEY_PRESS_PIN": {
		  "pin": 13,
		  "dir": "in",
		  "edge": "rising",
		  "options": {
			"activeLow": true
		  }
		},
		"KEY1_PIN": {
		  "pin": 21,
		  "dir": "in",
		  "edge": "rising",
		  "options": {
			"activeLow": true
		  }
		},
		"KEY2_PIN": {
		  "pin": 20,
		  "dir": "in",
		  "edge": "rising",
		  "options": {
			"activeLow": true
		  }
		},
		"KEY3_PIN": {
		  "pin": 16,
		  "dir": "in",
		  "edge": "rising",
		  "options": {
			"activeLow": true
		  }
		}
	  },
	  "outputs": {
		"BL_PIN": {
		  "pin": 24,
		  "dir": "high",
		  "options": {}
		}
	  }
	}
  }
  
